.footer {
    @include flexbox();	
	justify-content: space-between;
}

.block-left {
    @include flexbox();
}

.block-right{
    @include flexbox();
}

.block-color {
    width: 41px;
    height: 312px;
}

.block-left .block-color {
    background-color: #ba0000;
}

.block-right .block-color {
    background-color: #ffcc00;
}

.block-row {
    // margin: 62px 177px 0px 59px;
    // margin-top: 60px;
    
    @include flexbox();
    // padding-left: 59px;
    // padding-right: 177px;    
    justify-content: space-between;         // почему не работает ?
    // margin: -15px;
    // padding: 15px;
}

.block-row__item {
    @include flexbox();
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 15px;
    // margin: -15px;
    // padding: 15px;
    width: 33.33%;               // почему не работает ?
    overflow: hidden;            // как убрать то что вылазит снизу ?
}

.block-row__item-title {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ba0000;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}

.block-row__item-list ul li a {
    @include flexbox();
    position: relative;
    font-size: 14px;
    line-height: 27px;
    color: #777777;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
}

.block-row__item-list ul li a::before {
	content: '';
	position: absolute;
	border-left: 5px solid  #ba0000;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;	
	left: -10px;
	top: 8px;	
}

.block-row__item-list a:hover {
    color: #ffcc00;
}

// .footer-about {
//     margin-left: 185px;
// }

// .footer-social {
//     margin-left: 92px;
// }

@media (max-width:767px){
	
}

@media (max-width:600px){
	
}

@media (max-width:500px){
	
}

@media (max-width:420px){
	
}