.header {
	position: relative;
}

.header-top { 		
	background-color: #ba0000;
	padding: 17px 0;
}

.header-top__row {
	@include flexbox();
	justify-content:space-between;
	align-items: flex-start;
}

.top-lang {
	position: relative;
}

.top-lang__item-list {
	position: absolute;
	left: 0;
	top: 100%;
	background: #ffffff;
	padding: 10px 20px;
	margin: 0 -20px;
	z-index: 10;
}

.top-lang__value, 
.top-lang__item-list a {
	// background-color: #ba0000;		
	color: #ba0000;
	font-family: $Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.top-lang__value {
	color: #ffffff;
	background: transparent;
	display: flex;
	align-items: center;	
}
.top-lang__value img {
	margin-left: 4px;
}
.top-lang__item>a {
	margin: 10px 5px 10px 0;
}

.top-right{		
	@include flexbox();	
}

.top-center-link {			
	margin: 0 30px 0 0;	
}

.top-center-link span {
	background-color: #ba0000;		
	color: #ffffff;
	font-family: $Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.top-center-link img {
	margin-right: 4px;
	padding-top: 5px;
}

.top-country__item a {
	background-color: #ba0000;		
	color: #ffffff;
	font-family: $Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.top-country__item img {
	margin-left: 4px;
	// padding-top: 2px;
}

.top-country__item button {		
	background-color: #ba0000;
}

// .top-country__item_unselected {
// 	display: none;
// }






.header-bottom {	
	background-color: #ffcc00;
	padding: 30px 0;	
}

.inner-container{
	@include flexbox();
	justify-content: space-between;
	position: relative;
	z-index: 1;
}

.header-bottom__logo {	
	margin-right: 0px;
}

.header-bottom-menu{	
	margin: 16px 0px 14px 0px;
}
	
.header-bottom__list {
	@include flexbox();	
}

.header-bottom__list li {
	margin-right: 30px;
}

.menu__link {
	display: inline-flex;
	color: #ba0000;
	font-family: $Poppins;
	font-size: 14px;	
	text-transform: uppercase;				
	letter-spacing: 0.42px;
	padding: 10px 15px;
}

.menu__link:hover {
	font-weight: bold;
	position: relative;
}

.menu__link:hover::after {
	content:'';
	width: 107px;
	height: 4px;
	background-color: #ba0000;
	position: absolute;
	left: 50%;
	margin: 0px 0px 0px -52.5px;
	bottom: -30px;
}




.header-bottom-search-form {
	margin: -5px 0;	
}

.header-bottom-search-form__submit {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #ba0000;
	box-shadow: -1px 15px 17px -3px rgba(186,0,0,0.45);	
}

.header-bottom-search-form__submit:active {
	height: 45px;
	width: 45px;
	box-shadow: none;
}





.header-search {
	position: absolute;
	top: 100%; 
	left: 0;
	right: 0;
	background-color: #ffcc00;
	padding: 5px 0;
	z-index: 0;
	transition: 0.4s;
	visibility: hidden;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: center top;
}

.header-search_open {
	visibility: visible;
	opacity: 1;
	transform: scaleY(1);
}

.header-search-field {
	@include flexbox();
	justify-content: flex-end;
	height: 40px;
	width: 100%;
}

.header-search-field__text {
	background-color: #ffcc00;
	color: #ba0000;
	font-family: $Poppins;
	padding: 0 20px;
	font-size: 14px;
	
	width: 70%;
	border-bottom: 2px solid #ba0000;
}

.header-search-field__button {
	height: 40px;
	width: 100px;
	border-radius: 20px;
	background-color: #ba0000;
	box-shadow: -1px 15px 17px -3px rgba(186,0,0,0.45);
	margin-left: 15px;

	font-size: 12px;
	letter-spacing: 1px;		
	color: #ffffff;
	font-family: $Poppins;		
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.header-search-field__button:active {	
	height: 40px;
	width: 90px;
	box-shadow: none;
}
