.header {	
	position: relative;
	
}

.header-top { 		
	background-color: #ba0000;
	padding: 17px 0;
}

.header-top__row {
	@include flexbox();
	justify-content:space-between;
	align-items: flex-start;
}

.top-lang {
	position: relative;
    display: inline-block;
}

.top-lang__item-list {	
	left: 0;
	top: 100%;
	background: #ffffff;
	padding: 10px 20px;
	margin: 0 -20px;
	margin-left: 5px;
	z-index: 10;
	display: none;
    position: absolute;
}

.top-lang__value, 
.top-lang__item-list a {
	color: #ba0000;
	font-family: $Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	display: block;
}

.top-lang__item-list a:hover {
	color: #ec9f9f;	
}

.top-lang__value {
	color: #ffffff;
	background: transparent;
	display: flex;
	align-items: center;
}

.top-lang__value img {
	margin-left: 4px;
}
.top-lang__item>a {
	margin: 10px 5px 10px 0;
}

.show {display:block;}

.show1 {display:block;}






.top-right{		
	@include flexbox();	
}

.top-center-link {			
	margin: 0 30px 0 0;	
}

.top-center-link span {
	background-color: #ba0000;		
	color: #ffffff;
	font-family: $Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.top-center-link img {
	margin-right: 4px;
	padding-top: 5px;
}


.top-country {
	position: relative;
	display: inline-block;
}

.top-country__item-list {	
	left: 0;
	top: 100%;
	background: #ffffff;
	padding: 10px 30px;
	margin: 0 -20px;
	z-index: 10;
	display: none;
    position: absolute;
}

.top-country__value,
.top-country__item-list a {
	color: #ba0000;
	font-family: $Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	display: block;
}

.top-country__value {
	color: #ffffff;
	background: transparent;
	display: flex;
	align-items: center;
}

.top-country__value img {
	margin-left: 4px;
}

.top-country__item-list>a {
	margin: 10px 5px 10px 0;
}







// BOTTOM

.header-bottom {	
	background-color: #ffcc00;
	padding: 30px 0;
	z-index: 10;	
}

.inner-container{
	
	@include flexbox();
	justify-content: space-between;
	position: relative;
	z-index: 1;
}

.header-bottom__logo {
	margin-top: 10px;
	margin-left: 0;
}

.header-bottom-menu{	
	margin: 16px 0px 14px 0px;
}

.header-bottom__list {
	@include flexbox();
	justify-content: space-between;
}

.header-bottom__list li {
	margin-right: 30px;
}

@media (max-width:930px){	
	.header-bottom__list li {
		margin-right: 10px;
	}
}

@media (max-width:810px){	
	.header-bottom__list li {
		margin-right: 5px;
	}
}

.menu__link {
	@include flexbox();
	
	color: #ba0000;
	font-family: $Poppins;
	font-size: 14px;	
	text-transform: uppercase;				
	letter-spacing: 0.42px;
	padding: 10px 15px;
}

.menu__link:hover {
	font-weight: bold;
	position: relative;
}

.menu__link:hover::after {
	content:'';
	width: 100%;
	height: 4px;
	bottom: -130%;
	left: 0;
	background: #ba0000;
	position: absolute;

	transform: scaleX(1);
  	transform-origin: left;
}

@media (max-width:1003px){
	.menu__link {		
		padding: 10px 10px;
	}
	// .menu__link:hover::after {		
	// 	bottom: -130%;		
	// }	
	// .menu__link--long:hover::after {
	// 	bottom: -63%;
	// }
}

@media (max-width:944px){	
	.menu__link {		
		padding: 10px 5px;
	}
}

@media (max-width:935px){	
	.menu__link {		
		padding: 10px 7px;
	}
}

.menu__link::after {
  	content:'';	
	transition: transform 0.5s;
	transform: scaleX(0);
	transform-origin: right;
}


// SEARCH BUTTON
.header-bottom-search-form {
	margin-right: 0px;	
}

.header-bottom-search-form.active{
	display: none;
}

.header-bottom-search-form__submit {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #ba0000;
	box-shadow: -1px 15px 17px -3px rgba(186,0,0,0.45);	
}

.header-bottom-search-form__submit:active {
	height: 45px;
	width: 45px;
	box-shadow: none;
}


// SEARCH MENU
.header-search {
	position: absolute;
	top: 100%; 
	left: 0;
	right: 0;
	background-color: #ffcc00;
	padding: 5px 0;
	z-index: 0;
	transition: 0.4s;
	visibility: hidden;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: center top;
}



.header-search_open {
	visibility: visible;
	opacity: 1;
	transform: scaleY(1);
}

.header-search-field {
	@include flexbox();
	justify-content: flex-end;
	height: 40px;
	width: 100%;
}

.header-search-field__text {
	background-color: #ffcc00;
	color: #ba0000;
	font-family: $Poppins;
	padding: 0 20px;
	font-size: 14px;
	
	width: 70%;
	border-bottom: 2px solid #ba0000;
}

.header-search-field__button {
	height: 40px;
	width: 100px;
	border-radius: 20px;
	background-color: #ba0000;
	box-shadow: -1px 15px 17px -3px rgba(186,0,0,0.45);
	margin-left: 15px;

	font-size: 12px;
	letter-spacing: 1px;		
	color: #ffffff;
	font-family: $Poppins;		
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.header-search-field__button:active {	
	height: 40px;
	width: 90px;
	box-shadow: none;
}


// BURGER MENU
.header__burger {
	display: none;
}






@media (max-width:767px){
	body.lock{
		overflow: hidden;
	}
	.header-bottom {
		height: 50px;
		padding: 0;
	}
	.header-top { 
		padding: 10px 0;
	}
	.header-bottom__logo {
		margin-top: auto;
		
	}
	.header-bottom-search-form__submit {
		margin: 5px 0 0 0;
		height: 40px;
		width: 40px;		
	}
	.header-bottom-search-form {
		margin-right: 0;
	}
	.header-bottom-search-form__submit:active {
		height: 35px;
		width: 35px;
		box-shadow: none;
	}
	.header-search-field__button {
		height: 30px;
		width: 90px;		
	}
	
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;	
		margin-right: -60%;
		top: 15px;
		right: 0;		
		z-index: 3;
	}
	.header__burger span{
		position: absolute;
		background-color: #fff;
		right: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,        /*рисуем полосы бургер меню*/
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.5s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}

	.header__burger.active span{
		transform: scale(0);
	}

	.header__burger.active:before{
		transform:rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform:rotate(-45deg);
		bottom: 9px;
	}


	.header__burger.active{
		overflow: hidden;
		margin-right: 0px;
	}

	
	.header-bottom-menu{
		display: none;
	}

	.header-bottom-menu.active {		
		position: fixed;
		display: flex;
		flex-direction: column;
		top: 77px;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #ffcc00;
		padding: 70px 10px 20px 10px;
		z-index: 3;
	}

	.header-bottom__list {
		display: block;
	}

	.header-bottom__list li{
		
		margin: 0px 0px 20px 0px;
	}
	.menu__link {
		font-size: 16px;
	}

	.menu__link:hover::after {		
		display: none;		
	}
}

@media (max-width:653px){
	.header__burger {		
		margin-right: -55%;
	}
}

@media (max-width:600px){
	.header__burger {		
		margin-right: -50%;
	}
}

@media (max-width:510px){
	.header__burger {		
		margin-right: -40%;
	}
}

@media (max-width:420px){
	.header-bottom-search-form__submit {
		display: none;
	}
	.top-center-link {			
		display: none;
	}
}